################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/datas
*.pyc
*.pkl
/UFLDL/data
/UFLDL/iterate.dat
*.mat

TopicModelAirbnb/reviews.csv
TopicModelAirbnb/.idea
TopicModelAirbnb/mongodb

*.swp

*.lda_model

*.bow

*.index

*.state

TopicModelAirbnb/reviews_summary.csv

TopicModelAirbnb/listings.csv

TopicModelAirbnb/listings_summary.csv
